$bg-page: linear-gradient(135deg, #0f172a, #1e1b4b, #052e16);
$bg-container: rgba(20, 25, 45, 0.6);

$border-color: #6ad4aa;
$radius: 20px;

$shadow-container: 0 0 60px rgba(99, 102, 241, 0.4),
  inset 0 0 30px rgba(110, 231, 183, 0.15);
$shadow-btn: 0 10px 30px rgba(99, 102, 241, 0.4);

$text-main: #eaebee;
$text-muted: #b0bcfc;
$text-white: #ffffff;

$bg-btn: #4f46e5;
$hover-btn: #6366f1;

$progress-bar: #45f358;

$answer-border: #cccccc;
