@use '../styles/variables' as *;
@use '../styles/button.scss';

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;

  h1 {
    color: $text-main;
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
  }

  p {
    margin-bottom: 16px;
    color: $text-muted;
    font-size: 18px;
  }
}

.quiz {
  justify-content: flex-start;
  gap: 20px;
}
