@use '../styles/variables' as *;

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;

  h1 {
    color: $text-main;
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
  }

  p {
    margin-bottom: 16px;
    color: $text-muted;
    font-size: 18px;
  }
}

.button {
  padding: 14px 32px;
  color: $text-white;
  background: $bg-btn;
  border-radius: 50px;

  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;

  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    background: $hover-btn;
    transform: translateY(-2px);
    box-shadow: $shadow-btn;
  }
}
