@use '../styles/variables' as *;

.pageWrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $text-main;
  background: $bg-page;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.mainWrapper {
  width: 60%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 40px;

  background: $bg-container;
  border: 2px solid $border-color;
  border-radius: $radius;
  box-shadow: $shadow-container;
}
